<div>
    <div class="row">
        <div class="col-md-12">
        <div class="card degradado1 my-0"><!--<div class="card bg-dark my-5"></div>-->
            <div class="card-body">
            <h2 class="card-title text-center negrita text-white py-3">{{ titulo }}</h2>
            <ul class="text-center list-inline py-5">
                <li class="list-inline-item">
                    <button routerLink="/login" class="btn btn-primary btn-lg float-start">LOGIN</button>
                </li>
                <!--<li class="list-inline-item">
                    <button routerLink="/verUsuarios" class="btn btn-primary btn-lg float-start">Ver Usuarios</button>
                </li>
                <li class="list-inline-item">
                    <button routerLink="/nuevoUsuario" class="btn btn-primary btn-lg float-start">Nuevo Usuario</button>
                </li>-->
            </ul>
            </div>
        </div>
        <router-outlet></router-outlet>
        </div>
    </div>
</div>



